[Unit]
Description=BeeCam Dashboard
After=network.target

[Service]
WorkingDirectory=/home/mpgetz/repos/mqtt_monitor
EnvironmentFile=/home/mpgetz/repos/mqtt_monitor/.env
Restart=always
User=mpgetz
ExecStart=/bin/bash -c "source /home/mpgetz/miniconda3/etc/profile.d/conda.sh && conda activate mqtt_monitor && gunicorn --bind 127.0.0.1:8000 query_dbs:app"

[Install]
WantedBy=multi-user.target
