[Unit]
Description=MQTT Monitor Service
After=network.target

[Service]
WorkingDirectory=/home/mpgetz/repos/mqtt_monitor
ExecStart=/home/mpgetz/repos/mqtt_monitor/venv/bin/python mqtt_monitor.py
EnvironmentFile=/home/mpgetz/repos/mqtt_monitor/.env
Restart=always
User=mpgetz

[Install]
WantedBy=multi-user.target